.selected { background-color: lightblue; }

.hidden { display: none; }

/* Should we need visibility: hidden, call it invisible */

.header {
    display: flex;
}

#plus {
    margin-left: auto;
}

tr.border_bottom td {
    border-bottom: 1px solid red;
  }